For detailed explanation of this examples refer to [pandas-cast column type](https://sparkbyexamples.com/pandas/different-ways-to-change-data-type-in-pandas)

# Different Ways to Change Data Type in pandas

In [1]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration ':['30day','40days','35days', '40days','60days','50days','55days'],
    'Discount':[11.8,23.7,13.4,15.7,12.5,25.4,18.4]
    }
df = pd.DataFrame(technologies)
df.dtypes

Courses       object
Fee            int64
Duration      object
Discount     float64
dtype: object

In [2]:
#DataFrame.convert_dtypes() to Convert Data Type in Pandas
# Convert all types to best possible types
df2=df.convert_dtypes()
df2.dtypes

Courses       string
Fee            Int64
Duration      string
Discount     Float64
dtype: object

In [3]:
#Change All Columns to Same type in Pandas
# Change All Columns to Same type
df = df.astype(str)
df.dtypes

Courses      object
Fee          object
Duration     object
Discount     object
dtype: object

In [4]:
# Change Type For One or Multiple Columns
df = df.astype({"Fee": int, "Discount": float})
df.dtypes

Courses       object
Fee            int32
Duration      object
Discount     float64
dtype: object

In [6]:
# Convert Data Type for All Columns in a List
df = pd.DataFrame(technologies)
cols = ['Fee', 'Discount']
df[cols] = df[cols].astype('float')
df[cols].dtypes

Fee         float64
Discount    float64
dtype: object

In [7]:
# By using a loop
for col in ['Fee', 'Discount']:
    df[col] = df[col].astype('float')
df[col].dtypes

dtype('float64')

In [8]:
#By using apply() & astype() together
df[['Fee', 'Discount']].apply(lambda x: x.astype('float'))
df.dtypes

Courses       object
Fee          float64
Duration      object
Discount     float64
dtype: object

In [9]:
#Ignores error
df = df.astype({"Courses": int},errors='ignore')
df.dtypes

Courses       object
Fee          float64
Duration      object
Discount     float64
dtype: object

In [ ]:
# DataFrame.infer_objects() to Change Data Type in Pandas
# Converts object types to possible types
df = pd.DataFrame(technologies)
df = df.infer_objects()
df.dtypes

In [12]:
# Converts fee column to numeric type
df['Fee'] = pd.to_numeric(df['Fee'])
df.dtypes

Courses       object
Fee            int64
Duration      object
Discount     float64
dtype: object

In [13]:
# Convert Fee and Discount to numeric types
df = pd.DataFrame(technologies)
df[['Fee', 'Discount']] =df [['Fee', 'Discount']].apply(pd.to_numeric)
df.dtypes

Courses       object
Fee            int64
Duration      object
Discount     float64
dtype: object