In [1]:
# create pandas dataframe with examples
# Create pandas DataFrame from List
import pandas as pd
technologies = [ ["Spark",20000, "30days"], 
                 ["Pandas",25000, "40days"], 
               ]
df=pd.DataFrame(technologies)
print(df)

        0      1       2
0   Spark  20000  30days
1  Pandas  25000  40days

In [2]:
# Add Column & Row Labels to the DataFrame
column_names=["Courses","Fee","Duration"]
row_label=["a","b"]
df=pd.DataFrame(technologies,columns=column_names,index=row_label)
print(df)

  Courses    Fee Duration
a   Spark  20000   30days
b  Pandas  25000   40days

In [3]:
# Create DataFrame from Dict
technologies = {
    'Courses':["Spark","Pandas"],
    'Fee' :[20000,25000],
    'Duration':['30days','40days']
              }
df = pd.DataFrame(technologies)
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

In [4]:
# Create DataFrame with Index.
technologies = {
    'Courses':["Spark","Pandas"],
    'Fee' :[20000,25000],
    'Duration':['30days','40days']
              }
index_label=["r1","r2"]
df = pd.DataFrame(technologies, index=index_label)
print(df)

   Courses    Fee Duration
r1   Spark  20000   30days
r2  Pandas  25000   40days

In [5]:
# Creates DataFrame from list of dict
technologies = [{'Courses':'Spark', 'Fee': 20000, 'Duration':'30days'},
        {'Courses':'Pandas', 'Fee': 25000, 'Duration': '40days'}]

df = pd.DataFrame(technologies)
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

In [6]:
# Create pandas Series
courses = pd.Series(["Spark","Pandas"])
fees = pd.Series([20000,25000])
duration = pd.Series(['30days','40days'])

# Create DataFrame from series objects.
df=pd.concat([courses,fees,duration],axis=1)
print(df)

        0      1       2
0   Spark  20000  30days
1  Pandas  25000  40days

In [7]:
# Assign Index to Series
index_labels=['r1','r2']
courses.index = index_labels
fees.index = index_labels
duration.index = index_labels

# Concat Series by Changing Names
df=pd.concat({'Courses': courses,
              'Course_Fee': fees,
              'Course_Duration': duration},axis=1)
print(df)

   Courses  Course_Fee Course_Duration
r1   Spark       20000          30days
r2  Pandas       25000          40days

In [8]:
# Create Empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
# Create Empty DataFraem with Column Labels
df = pd.DataFrame(columns = ["Courses","Fee","Duration"])
print(df)

Empty DataFrame
Columns: [Courses, Fee, Duration]
Index: []