# Pandas Drop Rows Based on Column Value

In [1]:
# Create pandas DataFrame
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[22000,25000,np.nan,24000],
    'Duration':['30day',None,'55days',np.nan],
    'Discount':[1000,2300,1000,np.nan]
          }
df = pd.DataFrame(technologies)
df

   Courses      Fee Duration  Discount
0    Spark  22000.0    30day    1000.0
1  PySpark  25000.0     None    2300.0
2   Hadoop      NaN   55days    1000.0
3   Python  24000.0      NaN       NaN

In [2]:
# Delete Rows Based on Column Values
df.drop(df[df['Fee'] >= 24000].index, inplace = True)
df

  Courses      Fee Duration  Discount
0   Spark  22000.0    30day    1000.0
2  Hadoop      NaN   55days    1000.0

In [3]:
# Remove row
df2 = df[df.Fee >= 24000]
df

  Courses      Fee Duration  Discount
0   Spark  22000.0    30day    1000.0
2  Hadoop      NaN   55days    1000.0

In [28]:
# Delete rows using DataFrame.query()
df2=df.drop(df.query("Courses == 'Spark'"))
df2

KeyError: "['Courses' 'Fee' 'Duration' 'Discount'] not found in axis"

In [23]:
# Delect rows based on multiple column value
df = pd.DataFrame(technologies)
indexNames = df[ (df['Fee'] >= 25000) & (df['Discount'] == 2300)].index
df.drop(indexNames,inplace=True)
print(df)

  Courses      Fee Duration  Discount
0   Spark  22000.0    30day    1000.0
2  Hadoop      NaN   55days    1000.0
3  Python  24000.0      NaN       NaN

In [26]:
# Drop rows with None/NaN values
df2 = df[df.Discount.notnull()]
df2

  Courses      Fee Duration  Discount
0   Spark  22000.0    30day    1000.0
2  Hadoop      NaN   55days    1000.0