For detailed explanation of this examples refer to [pandas-get-column-names](https://sparkbyexamples.com/pandas/panda-get-column-names-with-example)

# Pandas Get Column Names from DataFrame

In [1]:
#create DataFrame
import pandas as pd
import numpy as np

technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
df

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [2]:
# Get the list of all column names from headers
column_headers = list(df.columns.values)
print("The Column Header :", column_headers)

The Column Header : ['Courses', 'Fee', 'Duration', 'Discount']

In [3]:
# Get the list of all column names from headers
column_headers = df.columns.values.tolist()
print("The Column Header :", column_headers)

The Column Header : ['Courses', 'Fee', 'Duration', 'Discount']

In [5]:
#Using list(df) to get the column headers as a list
column_headers = list(df.columns)
print("The Column Header:",column_headers)

The Column Header: ['Courses', 'Fee', 'Duration', 'Discount']

In [7]:
#Using list(df) to get the list of all Column Names
column_headers = list(df)
print("The Column Header:",column_headers)

The Column Header: ['Courses', 'Fee', 'Duration', 'Discount']

In [9]:
# Dataframe show all columns sorted list
col_headers=sorted(df)
col_headers

['Courses', 'Discount', 'Duration', 'Fee']

In [10]:
# Get all Column Header Labels as List
for column_headers in df.columns: 
    print(column_headers)

Courses
Fee
Duration
Discount

In [11]:
# Get Column Headers Using the keys() Method
column_headers = df.keys().values.tolist()
print("The Column Header :", column_headers)

The Column Header : ['Courses', 'Fee', 'Duration', 'Discount']

In [12]:
# Get all numeric columns
numeric_columns = df._get_numeric_data().columns.values.tolist()
numeric_columns

['Fee', 'Discount']

In [13]:
# Simple Pandas Numeric Columns Code
numeric_columns=df.dtypes[df.dtypes == "int64"].index.values.tolist()
numeric_columns

['Fee', 'Discount']