For detailed explanation of this examples refer to [pandas-get-cell-value](https://sparkbyexamples.com/pandas/pandas-get-cell-value-with-examples)

# Pandas â€“ How to Get a Cell Value From DataFrame?

In [1]:
import pandas as pd
technologies = {
     'Courses':["Spark","PySpark","Hadoop","Python","pandas"],
     'Fee' :[24000,25000,25000,24000,24000],
     'Duration':['30day','50days','55days', '40days','60days'],
     'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
df

   Courses    Fee Duration  Discount
0    Spark  24000    30day      1000
1  PySpark  25000   50days      2300
2   Hadoop  25000   55days      1000
3   Python  24000   40days      1200
4   pandas  24000   60days      2500

In [2]:
# Using loc[]. Get cell value by name & index
df2=df.loc[3]['Duration']
df2

'40days'

In [3]:
df2=df.loc[3,'Duration']
df2

'40days'

In [4]:
df2=df.loc[3][2]
df2

'40days'

In [5]:
# Using iloc[]. Get cell value by index & name
df2=df.iloc[3]['Duration']
df2

'40days'

In [6]:
df2=df.iloc[3][2]
df2

'40days'

In [7]:
# Using iloc[]. Get cell value by index & name
df2=df.iloc[3,2]
df2

'40days'

In [8]:
# Using DataFrame.at[]
df2=df.at[3,'Duration']
df2

'40days'

In [9]:
df2=df.at[df.index[3],'Duration']
df2

'40days'

In [10]:
# Using DataFrame.iat[]
df2=df.iat[3,2]
df2

'40days'

In [11]:
#Get a cell value
df2=df["Duration"].values[3]
df2

'40days'

In [12]:
# Get cell value from last row
df2=df.iloc[-1,2]
df2

'60days'

In [13]:
df2=df.iloc[-1]['Duration']        
df2

'60days'

In [14]:
df2=df.at[df.index[-1],'Duration']
df2

'60days'