In [1]:
# pandas select rows
#Use pandas.DataFrame.iloc[] to Select Rows by Integer Index
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30days','40days','35days','40days',np.nan,None,'55days'],
    'Discount':[1000,2300,1500,1200,2500,2100,2000]
               }
index_labels=['r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500
r6   Oracle  21000     None      2100
r7     Java  22000   55days      2000

In [2]:
# Select Row by Integer Index
print(df.iloc[2])

Courses     Hadoop
Fee          26000
Duration    35days
Discount      1500
Name: r3, dtype: object

In [3]:
#select multiple rows by index list
print(df.iloc[[2,3]])

   Courses    Fee Duration  Discount
r3  Hadoop  26000   35days      1500
r4  Python  22000   40days      1200

In [4]:
# Select Rows by Integer Index Range
print(df.iloc[1:5])

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500

In [5]:
# Select First Row by Index
print(df.iloc[:1])

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      1000

In [6]:
# Select First 3 Rows
print(df.iloc[:3])

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500

In [7]:
# Select Last Row by Index
print(df.iloc[-1:])

   Courses    Fee Duration  Discount
r7    Java  22000   55days      2000

In [8]:
# Select Last 3 Row
print(df.iloc[-3:])

   Courses    Fee Duration  Discount
r5  pandas  24000      NaN      2500
r6  Oracle  21000     None      2100
r7    Java  22000   55days      2000

In [9]:
# Selects alternate rows
print(df.iloc[::2])

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      1000
r3  Hadoop  26000   35days      1500
r5  pandas  24000      NaN      2500
r7    Java  22000   55days      2000