In [1]:
# Use pandas.DataFrame.loc[] to Select Rows by Index Labels
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30days','40days','35days','40days',np.nan,None,'55days'],
    'Discount':[1000,2300,1500,1200,2500,2100,2000]
               }
index_labels=['r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500
r6   Oracle  21000     None      2100
r7     Java  22000   55days      2000

In [2]:
# Select Row by Index Label
print(df.loc['r2'])

Courses     PySpark
Fee           25000
Duration     40days
Discount       2300
Name: r2, dtype: object

In [3]:
# Select Rows by Index Label List
print(df.loc[['r2','r3','r6']])

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r6   Oracle  21000     None      2100

In [4]:
# Select Rows by Label Index Range
print(df.loc['r1':'r5'])

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500

In [5]:
# Select Alternate Rows with in Index Labels
print(df.loc['r1':'r5':2])

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      1000
r3  Hadoop  26000   35days      1500
r5  pandas  24000      NaN      2500