For detailed explanation of this examples refer to [pandas-get-row-count](https://sparkbyexamples.com/pandas/pandas-get-the-number-of-rows-with-examples)

# Pandas Get the Number of Rows

In [1]:
#create DataFrame
import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Courses Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
df

   Courses  Courses Fee Duration  Discount
0    Spark        22000   30days      1000
1  PySpark        25000   50days      2300
2   Hadoop        23000   30days      1000
3   Python        24000     None      1200
4   Pandas        26000      NaN      2500

In [2]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [3]:
#Get number of rows in DataFrame

print('Row count is:', len(df.index))

Row count is: 5

In [4]:
print('Row count is:', len(df))

Row count is: 5

In [5]:
#Get Row Count in DataFrame Using .len(DataFrame.axes[0]) Method
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Courses', 'Courses Fee', 'Duration', 'Discount'], dtype='object')]

In [6]:
df.axes[0]

RangeIndex(start=0, stop=5, step=1)

In [7]:
print('Row count is:', len(df.axes[0]))

Row count is: 5

In [8]:
#Using df.shape[0] to Get Rows Count
df = pd.DataFrame(technologies)
row_count = df.shape[0]  
row_count

5

In [9]:
df = pd.DataFrame(technologies)
col_count = df.shape[1] 
col_count

4

In [11]:
rows_count = df.count()[0]
rows_count =  df[df.columns[0]].count()
print('Number of Rows count is:', rows_count )

Number of Rows count is: 5