For detailed explanation of this examples refer to [pandas-rename-column](https://sparkbyexamples.com/pandas/pandas-rename-column-with-examples)

# Pandas Rename Column with Examples

In [2]:

import pandas as pd
technologies = ({
  'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
  'Fee' :[20000,25000,26000,22000,24000,21000,22000],
  'Duration':['30day', '40days' ,'35days', '40days', '60days', '50days', '55days']
              })
df = pd.DataFrame(technologies)
df2=df.columns
df2

Index(['Courses', 'Fee', 'Duration'], dtype='object')

In [4]:
# Rename a Single Column 
df2=df.rename(columns = {'Courses':'Courses_List'})
df2.columns

Index(['Courses_List', 'Fee', 'Duration'], dtype='object')

In [5]:
# Alternatively you can write above using axis
df2=df.rename({'Courses':'Courses_List'}, axis=1)
df2.columns

Index(['Courses_List', 'Fee', 'Duration'], dtype='object')

In [6]:
# Alternatively you can write above using axis
df2=df.rename({'Courses':'Courses_List'}, axis='columns')
df2.columns

Index(['Courses_List', 'Fee', 'Duration'], dtype='object')

In [11]:
# Rename multiple columns
df.rename(columns = {'Courses':'Courses_List','Fee':'Courses_Fee', 
   'Duration':'Courses_Duration'}, inplace = True)
df.columns

Index(['Courses_List', 'Courses_Fee', 'Courses_Duration'], dtype='object')

In [13]:
# pandas rename column by index
df.columns.values[2] = "Courses_Duration"
df.columns

Index(['Courses_List', 'Courses_Fee', 'Courses_Duration'], dtype='object')

In [17]:
# Add prefix to the column names
df2=df.add_prefix('col_')
df2.columns

Index(['col_Courses_List', 'col_Courses_Fee', 'col_Courses_Duration'], dtype='object')

In [18]:
# Add suffix to the column names
df2=df.add_suffix('_col')
df2.columns

Index(['Courses_List_col', 'Courses_Fee_col', 'Courses_Duration_col'], dtype='object')

In [25]:
# Change to all lower case
df = pd.DataFrame(technologies)
df2=df.rename(str.lower, axis='columns')
df2.columns

Index(['courses', 'fee', 'duration'], dtype='object')

In [26]:
# Change to all upper case
df = pd.DataFrame(technologies)
df2=df.rename(str.upper, axis='columns')
df2.columns

Index(['COURSES', 'FEE', 'DURATION'], dtype='object')

In [27]:
# Change column name using String.replace()
df.columns = df.columns.str.replace("Fee","Fee_Cost")
df.columns

Index(['Courses', 'Fee_Cost', 'Duration'], dtype='object')

In [28]:
# Rename all column names
df.columns = df.columns.str.replace("_"," ")
df.columns

Index(['Courses', 'Fee Cost', 'Duration'], dtype='object')